*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #FFF;
    color: #434455;
    box-sizing: border-box;
    width: 1440px;
    height: 3300px;
}

h1, h2, h3, p{
    margin: 0;
}

ul, ol {
	margin: 0;
	padding-left: 0;
}

.container{
    display: inline-flex;
}

.section-btn{
background: #2E2F42;
}

.page-title{
    color: #FFF;
    text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 1.12px;
padding-top: 188px;
padding-right: 472px;
padding-bottom: 292px;
padding-left: 472px;
}



.logo-blue{
    color: #2E2F42;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}



.list{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-menu-list .list:hover,
.nav-menu-list .list:focus{
    color: #404BBF;
}

.link{
    color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
}

.link:hover,
.link:focus{
    color: #404BBF;
}

.btn {
    font-family:"Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: inline-flex;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.btn:hover,
.btn:focus {
    background-color: #404BBF;
}

button{
    background: #4D5AE5;
    cursor: pointer;
}



h2{
    color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.72px;
text-transform: capitalize;

}

.title-about{
    color:#2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.4px;
}

.title-style{
    color:#2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.4px;
}

.text-style{
    color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
}

.section-our-team{
    background-color: #F4F4FD;
}

.title-our-team{
    color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.72px;
text-transform: capitalize;
}

.title-our-portfolio{
      color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.72px;
text-transform: capitalize;
}

.footer-style{
    background-color: #2e2f42;
}

.logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.logo-blue-footer{
    color: #F4F4FD;
}

.text-style-footer{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.list-our-team {
    background-color: #FFFFFF;
}

.page-header{
    display: inline-flex;
    width: 1440px;
height: 72px;
flex-shrink: 0;
border-bottom: 1px solid  #E7E9FC;
background: #FFF;
}
.page-header .container{
    width: 1440px; 
    height: 72px;
    background: white; 
    border-bottom: 1px #E7E9FC solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.logo-header{
    color:#4D5AE5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
display: inline-flex;
margin-left: 156px;
margin-top: 25.5px;
margin-bottom: 25.5px;

}

.nav-menu-list{
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.32px;
    display: inline-flex;
    margin-left: 147px;
    margin-bottom: 24px;
    gap: 40px;
    align-items: center;
    justify-content: center;
    list-style-type: none; 
}

.address-link{
    list-style-type: none; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.section-btn{
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
}

.page-title{

}